:root {
    --pink-color: #ed008d;
    --purple-color: #543084;
}

.position-relative {
    position: relative;
}

.padding-top-xs { 
    padding-top: 1em;
}

.margin-top-sm {
    margin-top: 2em;
}

.margin-top-xl { 
    margin-top: 6em;
}

.login-form {
    background-color: var(--purple-color);
    border-top: 10px solid var(--pink-color);
    color: white;
    font-weight: bold;
}

.btn-custom {
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 0%;
    border: 2px solid white;
    background-color: var(--pink-color);
    text-transform: uppercase;
}

.invalid-login {
    color: var(--pink-color);
    font-weight: bold;
}

.has-error .help-block, .has-error .control-label, .active a {
    color: var(--pink-color)
}
.has-success .control-label {
    color: white;
}

.brand-logo {
    margin-top: 40px;
    border-left: 2px solid var(--pink-color);
    height: 70px;
    float: right;
}

.navbar {
    margin-bottom: 0px;
}
.sub-nav {
    box-shadow: 0px 0px 3px 0px lightgrey;
}
.sub-nav-item a {
    text-transform: uppercase;
    color: var(--purple-color);
    font-weight: bold;
    font-size: 16px;
    min-width: 100px;
    text-align: center;
}

.last-nav-item a {
    border-right: 1px solid lightgrey;
}

.no-padding {
    padding: 0px;
}

.active a {
    color: var(--pink-color);
}

.pink-text-color {
    color: var(--pink-color);
    font-weight: bold;
}

.purple-text-color {
    color: var(--purple-color);
    font-weight: bold;
}

.nav-item a, .footer-text{
    color: var(--purple-color);
}

.nav-item-bold a {
    font-weight: bold;
}

.list-left {
    background-color: var(--purple-color);
}

.list {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.list-right {
    background-color: var(--pink-color);
}

.sortable li:focus, .sortable li:hover {
    background-color: silver;
}

.sortable {
    background-color: #EEEEEE;
    border: 1px solid #E0E0E1;
    border-radius: 0px;
}

.sortable li {
    margin: 10px;
    padding: 10px;
}

.footer {
    background-color: white;
    border-top: 0px;
}